/* GENERAL */

* {
    padding: 0px;
    margin: 0px;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

body {
    background-color: #1a1a2e;
    overflow: auto;
    height: 100%;
    width: 100%;
}

/* FONT */
@font-face {
    font-family: Adeliapasha;
    src: url(../font/Quickers.ttf);
}

/* PRELOADER */

.pace {
    pointer-events: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 400px;
    border: 0px;
    height: 3px;
    overflow: hidden;
    background:#1a1a2e;
}
 
.pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    max-width: 400px;
    position: fixed;
    z-index: 2001;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #e94560;
}
  
.pace.pace-inactive {
    display: none;
}
  
#preloader{
    width:100%;
    height:100vh;
    background:#16213e;
    overflow:hidden;
    position:fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 100;
}

/* OVERLAY MENU */
.overlay-btn {
    color:#ffffff;
    margin: 21px;
    cursor: pointer;
}

#overlay {
    background-color: #16213e;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-out;
    margin: 0px;
}

#overlay.active {
    visibility: visible;
    opacity: 1;
}

.overlay-menu {
    text-align: end;
}

.overlay-menu ul li {
    text-align: end;
    list-style: none;
}

.overlay-menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #e94560;
}

.overlay-menu ul li a:hover {
    color: #bd2e46;
}

.overlay-info {
    color: #e94560;
}

.overlay-info ul li {
    list-style: none;
}


/* NAV */
.nav {
   justify-content: space-between;
}

.logo a {
    color:#ffffff;
    font-size: 34px;
    font-family: Adeliapasha;
    text-decoration: none;
}

.logo span {
    font-family: helvetica;
    color: #e94560;
}

    /* .PAGELIST */
#page-list {
    position: fixed;
}

#page-list ul {
    list-style: none;
    position: fixed;
    left: 0;
    top: 300px;
}

#page-list .list a span {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    visibility: unset;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#page-list .list a {
    text-decoration: none;
}

#page-list .list a::after {
    content: "";
    display: block;
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    transition: width .3s;
}

#page-list .list .active::after {
    content: "";
    width: 50px;
    transition: width .8s;
    background-color:  #e94560;
}

/* MAIN PAGE */

    /* .CONTENT */
.mainpage {
    display: flex;
    height: 85vh;
}

#text-mainpage {
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    top: 260px;
    right: 15%;
    text-align: right;
}

#text-mainpage h3 {
    font-weight: bold;
    color: #e94560;
}

    /* ..TYPE ANIMATION */
.type-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
}
  
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/* .. MEDIA */
.media {
    position: absolute;
    top: 260px;
    right: 14%;
}
  
.media ul {
    position: absolute;
    list-style: none;
}
  
.media ul li {
    padding: 2px 0;
}

.media a {
    color: grey;
    text-decoration: none;
}

.media a:hover {
    color: rgb(82, 80, 80);
}



/* .NEXT BUTTON */
#home .next-icon {
    color: #ffffff;
    position: relative;
    top: -50px;
    text-align: center;
}

/* ABOUT ME PAGE */
#about-me {
    height: 100vh;
    position: relative;
}

    /* .IMAGE */
#about-me .card {
    text-align: end;
    border-color: #000000;
    position: relative;
    right: -600px;
    top: 50px;
    width: 23rem;
}

    /* .DESC*/
#about-me .desc p {
    color: #ffffff;
    font-size: 24px;
    position: relative;
}

#about-me .desc span {
    font-size: 20px;
    position: relative;
    display: flex;
}

#about-me .desc span::after {
    content: '';
    position: absolute;
    width: 260px;
    height: 2px;
    background-color: #ffffff;
    bottom: 0px;
}

.desc {
    position: relative;
    top: 200px;
    width: 390px;
    left: 15%;
}

.desc ul {
    list-style: none;
    position: absolute;
    top: 150%;
    width: 400px;
}

.desc li {
    color: #ffffff;
} 

/* SKILL PAGE */
#skill {
    height: 100vh;
}

    /* .TEXT */
#skill h2 {
    font-family: 'Courier New';
    font-weight: bold;
    color: #ffffff;
}

    /* .JOURNEY */
.timeline h5 {
    position: absolute;
    color: #ffffff;
    top: 0px;
}

.timeline p {
    color: #ffc8d2;
}

.timeline li {
    position: relative;
    margin-top: 60px;
    color: #ffffff;
    margin-left: 20px;
    list-style: none;
}

.timeline li::before {
    content: "";
    position: absolute;
    left: -24px;
    bottom: 50%;
    width: 10px;
    height: 10px;
    border: 2px #e94560 solid;
    border-radius: 50%;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 29px;
    width: 2px;
    height: 100%;
    background-color: #0f3460;
}

    /* .SKILL BAR */
.skill-bar-name p {
    top: -24px;
    position: absolute;
    color: #ffffff;
}

.skill-bar-percent {
    position: absolute;
    color: #ffffff;
    top: -24px;
    right: 0px;
}

.my-skill-bar {
    margin-top: 24px;
    position: relative;
    width: 100%;
    border-radius: 3px;
    height: 3px;
    background: #ffffff;
    margin-bottom: 40px;
}

.skill-bar {
    box-sizing: border-box;
    height: 3px;
    background: #e94560;
}

/* PORTOFOLIO PAGE */
#portofolio {
    height: 100vh;
}

    /* .TITLE */
#portofolio-title h2 {
    color: #ffffff;
}

    /* .TEXT */
#text-content h1 {
    position: absolute;
    left: 80px;
    top: 130px;
    color: #ffffff;
}

#text-content h1 span {
    font-weight: bold;
    color: #e94560;
}

    /* .CONTENT */

#content-warp {
    margin-top: 90px;
    width: 50%;
    height: 100%;
    position: relative;
}

.img-content {
    margin: 10px;
    width: 350px;
    height: 170px;
    position: relative;
}

.img-content a {
    text-decoration: none;
}

.portofolio-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: #000000;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.image-text:hover {
    opacity: 0.6;
}

.image-text p {
    color: #ffffff;
    margin-bottom: 0px;
}

.image-text p.date {
    font-size: 24px;
}

.img-name {
    font-weight: bold;
}

/* FOOTERPAGE */
#footer {
    height: 100vh;
}

.footer-content {
    position: relative;
    text-align: center;
}

.footer-content h3 {
    color:#ffffff;
    font-size: 34px;
    font-family: Adeliapasha;
    text-decoration: none;
}

.footer-info {
    color: #ffffff;
}

.footer-info ul li {
    list-style: none;
}

.copyright {
    color: #b9b9b9;
}

    /* .INFORMATION */
.information ion-icon {
    font-size: 18px;
}
    
.information {
    margin-left: 10px;
}
    
.information a {
    color: #ffffff;
    text-decoration: none;
}
    
.information a:hover {
    color: #f8b0ff;
}

@media(max-width: 990px) {
    /* ABOUT PAGE */
    #about-me {
        text-align: center;
    }

    #about-me .card {
        border-color: #000000;
        background-color: transparent;
        border: none;
        text-align: center;
        width: 15rem;
        height: 15rem;
        right: 0px;
        top: 200px;
        margin: 0 auto
    }

    #about-me .desc p {
        color: #ffffff;
        font-size: 18px;
        text-align: center;
    }
    
    #about-me .desc span {
        font-size: 20px;
        justify-content: center;
        left: auto;
    }
    
    .desc {
        position: relative;
        width: 100%;
        top: 10px;
        left: 0px;
    }
    
    .desc ul {
        list-style: none;
        width: 100%;
        text-align: center;
    }
    
    .desc li {
        color: #ffffff;
    } 

    /* PORTOFOLIO */

    #portofolio-content.row {
        display: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #text-box {
        position: relative;
        top: 100px;
    }

     /* .TEXT */
     #text-content {
        max-width: unset;
        flex: unset;
        height: 130px !important;
        position: relative;
    } 
    #text-content h1 {
        position: relative;
        color: #ffffff;
        font-size: 24px;
        left: 0px;
        top: 30px;
    }

    #text-content h1 span {
        font-weight: bold;
        color: #e94560;
    }

    /* .CONTENT */
    #content-warp {
        max-width: 100%;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .img-warp {
        position: relative;
        height: auto;
    }

    .img-content {
        max-width: unset;
        position: relative;
        margin: 10px auto;
    }

    .image-text {
        top: -76px;
        height: 170px;
    }

    .portofolio-img {
       position: relative; 
    } 
}

@media(max-width: 768px) {
    
    /* PRELOAD */
    .pace {
        max-width: 300px;
    }

    /* MAIN PAGE */
    #page-list ul {
        display: none;
    }

    .media {
        font-size: 14px;
        top: 250px;
    }

    #text-mainpage {
        font-size: 28px;
    }

    #text-mainpage h3 {
        font-size: 18px;
    }

    /* SKILL */
    #skill {
        height: 140vh;
    }

    .my-skill.ml-4.mt-5 {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }

    .my-skill .row {
        display: unset;
    }

    .timeline h5 {
        top: -50px;
    }

    .skill-content.col-8 {
        max-width: unset;
    }

    .skill-content.col-4 {
        max-width: unset;
        margin-top: 100px;
    }
}